    <nav>
    <ul class = "nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/students/about">About</a></li> 
        <li><a href="/orgs/add">Register Org</a></li>        
        <li><a href="/students/add">Register Student</a></li> 
        <li><a href="/students/login">Student Login</a></li>   
        <li><a href="/orgs/login">Org Login</a></li> 
        <li><a href="/orgs/feedback">Serve U Feedback</a></li> 
      </ul>
    </nav>