    <nav>
    <ul class = "nav navbar-nav">
        <li><a href="/orgs/dash">Dashboard</a></li>
        <li><a href="/orgs/about">About</a></li> 
        <li><a href="/orgs/list">All Orgs</a></li>
        <li><a href="/orgs/post">Create Post</a></li>
        <li> <a href="/orgs/posts">Events</a></li>
        <li><a href="/orgs/viewStudents">Manage Students</a></li>
        <li><a href="/orgs/logout">Logout</a></li>
      </ul>
    </nav>