    <nav>
    <ul class = "nav navbar-nav">
        <li><a href="/students/dash">Dashboard</a></li>
        <li><a href="/students/about">About</a></li> 
        <li><a href="/students/posts">All Events</a></li> 
        <li><a href="/students/listOrgs">Orgs</a></li>
        <li><a href="/students/viewEvents">Events Attending</a></li>
        <li hidden ><a href="/students/view/:id">View </a> </li>
        <li><a href="/students/logout">Logout</a></li>
       <li><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
              data-text="I am tweeting live from " data-via="_serveu"
              data-hashtags="ServeU" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
      </ul>
    </nav>