    <nav>
    <ul class = "nav navbar-nav">
        <li><a href="/students/dash">Dashboard</a></li>
        <li><a href="/students/about">About</a></li> 
        <li><a href="/students/posts">Events(student)</a></li> 
        <li><a href="/students/listOrgs">Orgs</a></li>
        <li hidden ><a href="/students/view/:id">View </a> </li>
        <li><a href="/students/logout">Logout</a></li>
      </ul>
    </nav>