 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">


  <link rel="stylesheet" href="/css/style.css">
  <title>ServeU</title>
</head>

<body>
  <header class="inner">
    {{# if isOrg}}
     <h2><a href="/orgs/dash"></i> ServeU</a></h2>   
    {{> org}}
    {{else}}
    {{# if isStudent}}
     <h2><a href="/student/dash"></i> ServeU</a></h2>  
    {{> student}}
    {{else}}
     <h2><a href="/"></i> ServeU</a></h2>
    {{> default}}
    {{/if}}
    {{/if}}
  </header>
  </header>
<div class="container">
      {{{body}}}
</div>
</body>

</html>