{{!-- Style Layout for Org Dashboard --}}
<section id="orgs" class="container">
  <h1>Dashboard</h1>
  {{#each orgs}}
    <div class = "org">
      
      <h3>Organization Name: {{ orgName }}</h3>
      <ul>
        <li>Email: {{ email }}</li>
        <li>Events Created: {{numOfPost}} </li>
      </ul>
      <p>Description: {{description}}</p>
    </div>
    {{/each}}
</section>