<h1>Send e-mail to Serve U:</h1>

<body>
    <form action="mailto:serveuncat1@gmail.com" method="post" enctype="text/plain">
        Name:<br>
        <input type="text" name="Name"><br>
        E-mail:<br>
        <input type="text" name="Mail"><br>
        Comment:<br>
        <textarea rows="7" name="Comment" cols="50"></textarea>
        <br><br>
        <input type="submit" value="Email">
        <input type="reset" value="Reset">
    </form>

</body>
</form>