{{!-- Layout for student view --}}
<section id="orgs" class="container">
  <h1>Dashboard</h1>
    <div class = "org">
      <h3>Name: {{firstName}} {{lastName}}</h3>
      <p>Email: {{email}}</p>
      <ul>
        <li>Hours Completed: {{hoursCompleted}}</li>
      </ul>
    </div>
</section>