.bx-row {
  width: 100vw;
}

.bx--vid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
  text-align: center;
  color: white;
}

.bx--no {
  background-color: black;
  border: 15px solid black;
  border-style: ridge;
  color: white;
}

.bx--footer {
  color: gray;
  background-color: black;
  border: 20px solid black;
  text-align: center;
  font-size: 10px;
}
.bx--runs{
  border: 20px solid red;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold; 
  background-color: red;

}

.bx--runss{

  font-weight: bold; 
}
.bx--ra{
  border: 20px solid red;
  
  
  background-color: red;

}

.bx--rows {
  color: white;
}

.bx--grid--full-width {
  background-color: black;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}