


.bx-row{
    background-color: black;
}
#row-1{
    background-color: black;
}
#row-3{


background-color: black;
}
.top-left {
    position: absolute;
    top: 40px;
    left: 16px;
    font-size: 80px;
    color: rgb(0, 0, 0);
  }
  .top-left-1 {
    position: absolute;
    padding-top:40px;
    padding-left: 10px;
    font-size: 25px;
    color: white;
  }
  .org-form{
      padding-top: 24px;
  }
  .form-input{
     margin-bottom: 24px;
      
  }
  .button{
      margin-top: 20px;
      margin-bottom: 20px;
  }
  #row-2{
      background-color: black;
  }
  .p-row-2{
      font-size: 20px;
      color: #bebebe;
      padding: 24px 0px 24px 0px;
  
  }

  