.bx--row {
  color: green;
  text-decoration-color: beige;
}

.bx--label {
  color: #ffffff;
}

.bx--form-item {
  margin-bottom: 2rem;
}

.bx--rows {
  color: green;
}

.contact-form {
  color: white;
}

.button {
  color: green;
}
