@import './components/Header/header.scss';
@import './content/Home/home-page.scss';
@import './content/About Us/about-us.scss';
@import './content/Social/social-page.scss'; 

.bx--content{
    padding: 0;

}
.bx--footer{
    width: 100vw;
}

